.nav{
    list-style: none;
    text-align: right;
    margin-right: 60PX;
    
}
.nav > li{
    float: right;
    padding: 10px;
    margin-right: 20PX;
}
.nav > li > a{
    text-decoration: none;
    color: black;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 4%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

    
